---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/pagespeedonline/v2/runPagespeed?locale=en&strategy=desktop&url=https://example.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PkSaWcVIzhh28cig01SfoTEjdEU/nO2ozW6tZTjjuDAdGn1EU_zaU7I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "captchaResult": "CAPTCHA_NOT_NEEDED",
         "kind": "pagespeedonline#result",
         "id": "https://example.com/",
         "responseCode": 200,
         "title": "Example Domain",
         "ruleGroups": {
          "SPEED": {
           "score": 100
          }
         },
         "pageStats": {
          "numberResources": 1,
          "numberHosts": 1,
          "totalRequestBytes": "33",
          "htmlResponseBytes": "1595"
         },
         "formattedResults": {
          "locale": "en_US",
          "ruleResults": {
           "AvoidLandingPageRedirects": {
            "localizedRuleName": "Avoid landing page redirects",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "Your page has no redirects. Learn more about {{BEGIN_LINK}}avoiding landing page redirects{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/AvoidRedirects"
              }
             ]
            }
           },
           "EnableGzipCompression": {
            "localizedRuleName": "Enable compression",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "You have compression enabled. Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/EnableCompression"
              }
             ]
            }
           },
           "LeverageBrowserCaching": {
            "localizedRuleName": "Leverage browser caching",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "You have enabled browser caching. Learn more about {{BEGIN_LINK}}browser caching recommendations{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/LeverageBrowserCaching"
              }
             ]
            }
           },
           "MainResourceServerResponseTime": {
            "localizedRuleName": "Reduce server response time",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "Your server responded quickly. Learn more about {{BEGIN_LINK}}server response time optimization{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/Server"
              }
             ]
            }
           },
           "MinifyCss": {
            "localizedRuleName": "Minify CSS",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "Your CSS is minified. Learn more about {{BEGIN_LINK}}minifying CSS{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/MinifyResources"
              }
             ]
            }
           },
           "MinifyHTML": {
            "localizedRuleName": "Minify HTML",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "Your HTML is minified. Learn more about {{BEGIN_LINK}}minifying HTML{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/MinifyResources"
              }
             ]
            }
           },
           "MinifyJavaScript": {
            "localizedRuleName": "Minify JavaScript",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "Your JavaScript content is minified. Learn more about {{BEGIN_LINK}}minifying JavaScript{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/MinifyResources"
              }
             ]
            }
           },
           "MinimizeRenderBlockingResources": {
            "localizedRuleName": "Eliminate render-blocking JavaScript and CSS in above-the-fold content",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "You have no render-blocking resources. Learn more about {{BEGIN_LINK}}removing render-blocking resources{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/BlockingJS"
              }
             ]
            }
           },
           "OptimizeImages": {
            "localizedRuleName": "Optimize images",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "Your images are optimized. Learn more about {{BEGIN_LINK}}optimizing images{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/OptimizeImages"
              }
             ]
            }
           },
           "PrioritizeVisibleContent": {
            "localizedRuleName": "Prioritize visible content",
            "ruleImpact": 0.0,
            "groups": [
             "SPEED"
            ],
            "summary": {
             "format": "You have the above-the-fold content properly prioritized. Learn more about {{BEGIN_LINK}}prioritizing visible content{{END_LINK}}.",
             "args": [
              {
               "type": "HYPERLINK",
               "key": "LINK",
               "value": "https://developers.google.com/speed/docs/insights/PrioritizeVisibleContent"
              }
             ]
            }
           }
          }
         },
         "version": {
          "major": 1,
          "minor": 15
         }
        }
  recorded_at: Thu, 15 Feb 2018 19:01:52 GMT
recorded_with: VCR 4.0.0
